<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vincent.esspringboot.mapper.PlayerMapper">



    <select id="getAllInfoByUser" resultType="com.vincent.esspringboot.vo.displayInfoVO">
        select s1.id, u.name, s1.user_id, s1.played, s1.favor, s1.name as song_name, s1.singer, s1.note
        From
            (select
                 p.id, p.user_id, p.played, p.favor, s.name, s.singer, s.note
             from player p
                      INNER JOIN song s on p.song_id = s.id
             where p.user_id = #{id} ) s1
                INNER JOIN user u on s1.user_id = u.id
    </select>

</mapper>